<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>About Us - Katy Accounting Firm</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Work+Sans:300,700,800%7COswald:300,400,500">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" id="main-styles-link">
  </head>
  <body>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-corporate" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-fixed" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-aside-outer">
                    <div class="rd-navbar-aside">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle="#rd-navbar-nav-wrap-1"><span></span></button>
                            <!-- RD Navbar Brand--><a class="rd-navbar-brand" href="{{ url_for('serve_index') }}"><img src="{{ url_for('static', filename='images/logo-default-171x39.png') }}" alt="" width="171" height="39" srcset="{{ url_for('static', filename='images/logo-default-342x78.png') }}"/></a>
                        </div>
                        <div class="rd-navbar-collapse">
                            <button class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle="#rd-navbar-collapse-content-1"><span></span></button>
                            <div class="rd-navbar-collapse-content" id="rd-navbar-collapse-content-1">
                                <article class="unit align-items-center">
                                    <div class="unit-left"><span class="icon icon-md icon-modern mdi mdi-phone"></span></div>
                                    <div class="unit-body">
                                        <ul class="list-0">
                                            <li><a class="link-default" href="tel:8326770085">832-677-0085</a></li>
                                            <li><a class="link-default" href="mailto:info@alexsearscpa.com">info@alexsearscpa.com</a></li>
                                        </ul>
                                    </div>
                                </article>
                                <article class="unit align-items-center">
                                    <div class="unit-left"><span class="icon icon-md icon-modern mdi mdi-map-marker"></span></div>
                                    <div class="unit-body"><a class="link-default" href="#"> Katy, TX 77494</a></div>
                                </article><a class="button button-primary-outline button-winona" href="{{ url_for('serve_contacts') }}">Request a call</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                        <div class="rd-navbar-nav-wrap" id="rd-navbar-nav-wrap-1">
                            <!-- RD Navbar Search-->
                            <div class="rd-navbar-search" id="rd-navbar-search-1">
                                <button class="rd-navbar-search-toggle" data-rd-navbar-toggle="#rd-navbar-search-1"><span></span></button>
                                <form class="rd-search" action="{{ url_for('serve_search_results') }}" data-search-live="rd-search-results-live-1" method="GET">
                                    <div class="form-wrap">
                                        <label class="form-label" for="rd-navbar-search-form-input-1">Search...</label>
                                        <input class="form-input rd-navbar-search-form-input" id="rd-navbar-search-form-input-1" type="text" name="s" autocomplete="off">
                                        <div class="rd-search-results-live" id="rd-search-results-live-1"></div>
                                    </div>
                                    <button class="rd-search-form-submit fa-search" type="submit"></button>
                                </form>
                            </div>
                            <!-- RD Navbar Nav-->
                            <ul class="rd-navbar-nav">
                                <li class="rd-nav-item"><a class="rd-nav-link" href="{{ url_for('serve_index') }}">Home</a></li>
                                <li class="rd-nav-item"><a class="rd-nav-link" href="{{ url_for('serve_about_us') }}">About Us</a></li>
                                <li class="rd-nav-item"><a class="rd-nav-link" href="{{ url_for('serve_services') }}">Our Services</a>
                                    <!-- RD Navbar Dropdown-->
                                    <ul class="rd-menu rd-navbar-dropdown">
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ url_for('serve_accounting_services') }}">Accounting Services</a></li>
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ url_for('serve_tax_services') }}">Tax Services</a></li>
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ url_for('serve_consulting') }}">Consulting</a></li>
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ url_for('serve_audit_and_assurance') }}">Audit & Assurance</a></li>
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ url_for('serve_financial_planning') }}">Financial Planning</a></li>
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ url_for('serve_business_advisory') }}">Business Advisory</a></li>
                                    </ul>
                                </li>
                                <li class="rd-nav-item active"><a class="rd-nav-link" href="{{ url_for('serve_contacts') }}">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
      <!-- Breadcrumbs -->
      <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url({{ url_for('static', filename='images/breadcrumbs-image-1.jpg') }});">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
              <h6 class="breadcrumbs-custom-subtitle title-decorated">Pages</h6>
              <h1 class="breadcrumbs-custom-title">About Us</h1>
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="{{ url_for('serve_index') }}">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active">About Us</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Overview-->
      <section class="section section-lg">
        <div class="container">
          <div class="row row-50 justify-content-center justify-content-lg-between">
            <div class="col-md-10 col-lg-6">
              <h3>Overview</h3>
              <h4 class="offset-top-3">Katy Accounting Firm works to satisfy the increasing needs of domestic and international businesses.</h4>
              <p>We are a team of dedicated business experts specializing in management, promotion, marketing, accounting, advertising, and other business-related spheres. The goal of Katy Accounting Firm is to improve the success of our clients' businesses and offer affordable services.</p>
              <div class="group group-middle"><a class="button button-primary button-winona" href="#our-history" data-waypoint-to="#our-history">View our History</a><a class="button button-primary-outline button-winona" href="#">Join our Team</a></div>
            </div>
            <div class="col-md-10 col-lg-6 col-xl-5"><img class="img-responsive" src="{{ url_for('static', filename='images/large-features-1-470x334.png') }}" alt="" width="470" height="334"/>
            </div>
          </div>
        </div>
      </section>
      <!-- Who We Are-->
      <section class="section section-lg section-last text-center">
        <div class="container">
          <h3>Who We Are</h3>
          <div class="row row-50">
            <div class="col-sm-6 col-lg-4">
              <!-- Profile Minimal-->
              <article class="profile-minimal"><img class="profile-minimal-image" src="{{ url_for('static', filename='images/team-3-370x368.jpg') }}" alt="" width="370" height="368"/>
                <div class="profile-minimal-caption">
                  <h4 class="profile-minimal-title">Alex Sears, CPA</h4>
                  <p class="profile-minimal-position">Owner - Partner</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4">
              <!-- Profile Minimal-->
              <article class="profile-minimal"><img class="profile-minimal-image" src="{{ url_for('static', filename='images/team-2-370x368.jpg') }}" alt="" width="370" height="368"/>
                <div class="profile-minimal-caption">
                  <h4 class="profile-minimal-title">Cynthia Boon</h4>
                  <p class="profile-minimal-position">Owner - Partner</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- Latest News-->
      <section class="section section-lg bg-gray-100">
        <div class="container">
          <h3 class="text-center">Latest News</h3>
          <div class="row row-50 justify-content-center justify-content-lg-start">
            <div class="col-md-10 col-lg-7 wow-outer">
              <!-- Post Block-->
              <article class="post-block bg-gray-700"><img class="post-block-image" src="{{ url_for('static', filename='images/blog-layouts-5-637x456.jpg') }}" alt="" width="637" height="456"/>
                <div class="post-block-caption">
                  <ul class="post-block-meta">
                    <li class="wow-outer"><span class="wow slideInLeft">by Theresa Barnes</span></li>
                    <li class="wow-outer"><a class="button-winona wow slideInLeft" href="#">News</a></li>
                    <li class="wow-outer">
                      <time class="wow slideInLeft" datetime="2023">April 2, 2023</time>
                    </li>
                  </ul>
                  <h4 class="post-block-title"><a href="{{ url_for('serve_single_blog_post') }}">Achieving Success as a Small Business Owner</a></h4>
                </div>
                <div class="post-block-dummy"></div>
              </article>
            </div>
            <div class="col-md-10 col-lg-5">
              <div class="post-light-group wow-outer">
                <!-- Post Light-->
                <article class="post-light wow slideInLeft">
                  <time class="post-light-time" datetime="2023"><span class="post-light-time-big">29</span><span class="post-light-time-small">April</span></time>
                  <div class="post-light-main">
                    <h4 class="post-light-title"><a href="{{ url_for('serve_single_blog_post') }}">Top 12 Ideas for Your Business</a></h4>
                    <ul class="post-light-meta">
                      <li>by Theresa Barnes</li>
                      <li><a class="button-winona" href="#">News</a></li>
                    </ul>
                  </div>
                </article>
                <!-- Post Light-->
                <article class="post-light wow slideInLeft">
                  <time class="post-light-time" datetime="2023"><span class="post-light-time-big">30</span><span class="post-light-time-small">April</span></time>
                  <div class="post-light-main">
                    <h4 class="post-light-title"><a href="{{ url_for('serve_single_blog_post') }}">Why Business Planning is Important</a></h4>
                    <ul class="post-light-meta">
                      <li>by Theresa Barnes</li>
                      <li><a class="button-winona" href="#">News</a></li>
                    </ul>
                  </div>
                </article>
                <!-- Post Light-->
                <article class="post-light wow slideInLeft">
                  <time class="post-light-time" datetime="2023"><span class="post-light-time-big">2</span><span class="post-light-time-small">May</span></time>
                  <div class="post-light-main">
                    <h4 class="post-light-title"><a href="{{ url_for('serve_single_blog_post') }}">7 Myths About Entrepreneurship</a></h4>
                    <ul class="post-light-meta">
                      <li>by Theresa Barnes</li>
                      <li><a class="button-winona" href="#">News</a></li>
                    </ul>
                  </div>
                </article>
              </div>
              <div class="wow-outer button-outer"><a class="button button-primary button-winona wow slideInDown" href="{{ url_for('serve_grid_blog') }}">View all posts</a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-xs bg-primary-darker text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-10 col-md-12">
              <div class="box-cta-thin">
                <h4 class="wow-outer"><span class="wow slideInRight">Learn the Cost of your <span class="fw-bold">Campaign</span> Right Now!</span></h4>
                <div class="wow-outer button-outer"><a class="button button-primary button-winona wow slideInLeft" href="{{ url_for('serve_pricing') }}">View all pricing</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="section footer-standard bg-gray-700">
        <div class="footer-standard-main">
          <div class="container">
            <div class="row row-50">
              <div class="col-lg-4">
                <div class="inset-right-1">
                  <h4>About Us</h4>
                  <p>Katy Accounting Firm is one of the highest rated and most recommended business management companies. We employ the best experts in the nation, while also using innovative techniques to attract more customers to your company.</p>
                </div>
              </div>
              <div class="col-sm-6 col-md-5 col-lg-4">
                <div class="box-1">
                  <h4>Contact Information</h4>
                  <ul class="list-sm">
                    <li class="object-inline"><span class="icon icon-md mdi mdi-map-marker text-gray-700"></span><a class="link-default" href="#"><br> Katy, TX 77494 USA</a></li>
                    <li class="object-inline"><span class="icon icon-md mdi mdi-phone text-gray-700"></span><a class="link-default" href="tel:8326770085">832-677-0085</a></li>
                    <li class="object-inline"><span class="icon icon-md mdi mdi-email text-gray-700"></span><a class="link-default" href="mailto:info@alexsearscpa.com">info@alexsearscpa.com</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 col-md-7 col-lg-4">
                <h4>Newsletter</h4>
                <p>Sign up to our newsletter and be the first to know about latest news, special offers, events, and discounts.</p>
                <!-- RD Mailform-->
                <form class="rd-form rd-mailform form-inline" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="{{ url_for('send_email') }}">
                  <div class="form-wrap">
                    <input class="form-input" id="subscribe-form-2-email" type="email" name="email" data-constraints="@Email @Required">
                    <label class="form-label" for="subscribe-form-2-email">E-mail</label>
                  </div>
                  <div class="form-button">
                    <button class="button button-primary button-icon button-icon-only button-winona" type="submit" aria-label="submit"><span class="icon mdi mdi-email-outline"></span></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="footer-standard-aside"><a class="brand" href="{{ url_for('serve_index') }}"><img src="{{ url_for('static', filename='images/logo-light-171x39.png') }}" alt="" width="171" height="39" srcset="{{ url_for('static', filename='images/logo-light-342x78.png') }}"/></a>
            <!-- Rights-->
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>All Rights Reserved.</span><span>&nbsp;</span><br class="d-sm-none"/><a href="#">Terms of Use</a><span> and</span><span>&nbsp;</span><a href="{{ url_for('serve_privacy_policy') }}">Privacy Policy</a></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="preloader">
      <div class="preloader-logo">
          <img src="{{ url_for('static', filename='images/logo-default-171x39.png') }}" alt="" width="171" height="39" srcset="{{ url_for('static', filename='images/logo-default-342x78.png') }}"/>
      </div>
      <div class="preloader-body">
          <div id="loadingProgressG">
              <div class="loadingProgressG" id="loadingProgressG_1"></div>
          </div>
      </div>
  </div>    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="{{ url_for('static', filename='js/core.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
      window.addEventListener('load', function() {
          document.querySelector('.preloader').style.display = 'none';
      });
  </script>
  </body>
</html>