footer.section.footer-minimal.bg-gray-700
	.container 
		.footer-minimal-inner
			a.brand(href='index.html')
				+png(logo.light.trueSize)(srcset='static/images/' + logo.light.retina + '.png')
			+rights
