section.section.section-sm
	.container
		.layout-bordered
			.layout-bordered-item.wow-outer: .layout-bordered-item-inner.wow.slideInUp
				.icon.icon-lg.mdi.mdi-phone.text-primary
				ul.list-0
					li: a.link-default(href='tel:#') 832-677-0085
					li: a.link-default(href='tel:#') 832-677-0085

			.layout-bordered-item.wow-outer: .layout-bordered-item-inner.wow.slideInUp
				.icon.icon-lg.mdi.mdi-email.text-primary
				a.link-default(href='mailto:#') info@alexsearscpa.com

			.layout-bordered-item.wow-outer: .layout-bordered-item-inner.wow.slideInUp
				.icon.icon-lg.mdi.mdi-map-marker.text-primary
				a.link-default(href='#') Katy, TX 77494 USA
